src/main/mule/maven-build-with-githubaction-public.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b01ac5aa-18df-4df1-aaf8-7c10ebbd4c29" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mulesoft-azuredevopsFlow" doc:id="fabd6c50-7140-42b3-8096-c02aab82960b" >
		<http:listener doc:name="Listener" doc:id="3a7a4d8e-15de-42c3-bd3e-d099073cc706" config-ref="HTTP_Listener_config" path="/githubcicd"/>
		<set-payload value='#["oh great! you have successfully deployed app with GitHub Actions"]' doc:name="Set Payload" doc:id="50911253-a63e-457d-9c64-772258a458f9" />
	</flow>
</mule>
